/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Border test */
/* * {
    border: 2px solid red;
} */

/* html {
    height: 100%;
    width: 100%;
} */

:root {
    --color-main-bkgd: rgb(212, 212, 212);
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
}

aside {
    width: 40%;
    overflow: hidden;
}

.bkgd-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/dock-img.jpg');
    background-size: cover;
    background-position: center center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: relative;
    top: 20%;
    background-color: rgba(0, 0, 0, .6);
}

#logo {
    height: 80%;
}

#logo-text {
    color: white;
    font-size: 60px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 70%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
}

main,
#section-pitch,
#section-account {
    background-color: var(--color-main-bkgd, grey);
}

#section-pitch {
    text-align: left;
}

.section-item {
    margin: 10px;
}

#section-forms {
    background-color: rgb(240, 240, 240);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-item {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.form-text {
    font-size: 14px;
    color: rgba(25, 25, 25, 0.80);
}

em {
    font-style: italic;
}

#btn-create-account {
    width: 200px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(14, 117, 14);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color:rgb(14, 117, 14);
    font-weight: bold;
}